* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  color: #ffffff;

  background-color: black;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 550px;
  height: 729px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.top-container {
  width: 550px;
  height: 285px;
  background: #6943ff;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 33px 50px;
}

.top-container .top-text {
  font-size: 1.75rem;
  line-height: 38px;

  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}

.top-container .number-input {
  width: 117px;
  line-height: 83px;
  background: transparent;
  border: 2px solid #b295ff;
  border-radius: 5px;

  font-weight: 800;
  font-size: 3.63rem;
  line-height: 24.39px;
  color: inherit;
  text-align: center;
  outline: none;

  margin-bottom: 25px;
}
.number-input::-webkit-input-placeholder {
  color: #a1a1a1ff;
}

.top-container .btn-convert {
  display: block;
  outline: none;
  width: 117px;
  background: #ffffff;
  border: none;
  border-radius: 5px;

  font-size: 1rem;
  font-family: inherit;
  padding: 8px 16px;
  line-height: 24px;
  font-weight: 500px;

  color: #3d3d3d;

  transition: 0.5s;
}

.top-container .btn-convert:hover {
  background: #664bd3ff;
  color: #ffffff;

  font-weight: bold;
  box-shadow: 0 0 25px #b295ff;
  border: 1px dotted #b295ff;

  transition: 0.25s;
}

.down-container {
  height: 444px;
  padding: 36px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.down-container .unit-section {
  background: #ffffff;
  width: 500px;
  height: 108px;
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.down-container .unit-section h2 {
  margin-bottom: 9px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 20px;

  color: #5a537b;
}

.down-container .unit-section p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;

  color: #353535;
}
